<header>
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">
      <img src="./assets/imagens/mapsimg.png" width="30" height="30" class="d-inline-block align-top" alt="EcoMaps">
    EcoMaps Lorena-SP
    </a>
  </nav>

</header>

<section class="titulo">
  <div class="div-titulo">
    <h1><b> Saiba onde descartar lixos eletrônicos, lâmpadas, baterias e pneus em Lorena-SP!</b></h1>

    <h2><b>Encontre o ecoponto mais próximo de você!</b></h2>

  </div>

</section>

<section class="main-map">
  <div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><p class="p-nav-titulo"><b>Eletrônicos</b></p></button>
      </li>
       <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><p class="p-nav-titulo"><b>Lâmpadas, baterias e mais</b></p></button>
      </li>
      <li class="nav-item" role="presentation">
         <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"><p class="p-nav-titulo"><b>Pneus</b></p></button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0"><p class="p-main-map">O lixo eletrônico pode causar danos irreversíveis à natureza. É comum possuir diversos materiais eletrônicos em nossas casas, vamos fazer a diferença e cuidar do nosso meio ambiente descartando esses utensílios de maneira correta!</p>
        <div class="div-main-map">
  

          <p class="p-main-map">Ecopontos de materiais eletrônicos:</p>
           <ul class="list-group">
            <li class="list-group-item" id="first-item">Ecoponto Casas Bahia Lorena-SP </li>
            <li class="list-group-item"><b>ITENS QUE RECICLA:</b></li>
            <li class="list-group-item" *ngFor="let item of casasBahia"> {{item}}</li>
            <li class="list-group-item"><b>ENDEREÇO:</b> Calçadão Arthur Ballerini, 144 - Centro</li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item" id="first-item">Ecoponto Faculdades integradas Teresa D'Ávila - Fatea</li>
            <li class="list-group-item"><b>ITENS QUE RECICLA:</b></li>
            <li class="list-group-item" *ngFor="let item of fatea"> {{item}}</li>
            <li class="list-group-item"><b>ENDEREÇO:</b> Av. Peixoto de Castro, nº 539 - Centro</li>
            <li class="list-group-item"><b>FONE:</b> (11) 3037-7687</li>
          </ul>

          <p class="p-main-map"><b>CLIQUE ABAIXO PARA GERAR O MAPA:</b></p>
          <app-eletronico></app-eletronico><br>

        </div>
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"><p class="p-main-map">Lâmpadas e baterias também possuem seu lugar específico para descarte. Para se ter uma ideia, a bateria pode causar irreparáveis danos ao lençol freático se descartada incorretamente, podendo contaminar nascentes, prejudicar o solo e acabar com a fauna regional.</p>
        <div class="div-main-map">

          <p class="p-main-map">Ecopontos de lâmpadas, baterias e pilhas:</p>
          <ul class="list-group">
            <li class="list-group-item" id="first-item">Ecoponto Praça Marechal Mallet </li>
            <li class="list-group-item"><b>ITENS QUE RECICLA:</b></li>
            <li class="list-group-item" *ngFor="let item of pracaMarechal"> {{item}}</li>
            <li class="list-group-item"><b>ENDEREÇO:</b> Praça Marechal Mallet, nº 35 - Centro </li>
          </ul>

          <p class="p-main-map"><b>CLIQUE ABAIXO PARA GERAR O MAPA:</b></p>

          <app-lampada></app-lampada><br>

        </div>

      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0"><p class="p-main-map">A borracha leva cerca de 600 anos para se decompor na natureza. Vamos fazer nossa parte e cuidar do que temos de mais sagrado, a Terra!</p>
        <div class="div-main-map">

          <p class="p-main-map">Ecopontos para descarte de pneus:</p>
          <ul class="list-group">
            <li class="list-group-item" id="first-item">Ecoponto em  instalações da Empresa Valecap Recauchutagem e Comércio de Pneus LTDA </li>
            <li class="list-group-item"><b>ITENS QUE RECICLA:</b></li>
            <li class="list-group-item" *ngFor="let item of valecapRecauchutagem"> {{item}} </li>
            <li class="list-group-item"><b>ENDEREÇO:</b> Rua José Antônio de Almeida Gonzaga, nº 1300 - Bairro da Cruz </li>
          </ul>

          <ul class="list-group">
             <li class="list-group-item" id="first-item">Ecoponto Cooperativa dos Catadores de Lorena (COOCAL)</li>
             <li class="list-group-item"><b>ITENS QUE RECICLA:</b></li>
             <li class="list-group-item" *ngFor="let item of COOCAL"> {{item}} </li>
            <li class="list-group-item"><b>ENDEREÇO:</b> Rua Lorena, nº 20 - Cecap baixa </li>
          </ul>

          <p class="p-main-map"><b>CLIQUE ABAIXO PARA GERAR O MAPA:</b></p>

          <app-pneu></app-pneu>

        </div>
      </div>
        
    </div>
  </div>

  <div class="obs">
    <p>Obs: Este site ainda está em fase de desenvolvimentos, qualquer dúvida ou sugestão entre em contato pelos nossos meios de comunicação.</p>

  </div>

    
</section>

<footer class="conteudo-footer">
  <div class="links">
    <p>Links para contato: </p>
    <a href="https://github.com/MarcosViniciusR?tab=repositories"><img src="./assets/imagens/githubimg.png" alt="GitHub" style="width: 20px;"></a>
    <a href="din.com/in/marcos-vinicius-ribeiro-15200719b/"><img src="./assets/imagens/linkedinimg.png" alt="LinkeInd" style="width: 20px;"></a>
    <a href="https://www.facebook.com/marcosvinicius.ribeiro.988"><img src="./assets/imagens/facebookimg.png" alt="Facebook" style="width: 20px;"></a>
    <a href="mailto:marcos.vinicius997@outlook.com"><img src="./assets/imagens/emailimg.png" alt="Email" style="width: 20px;"></a>


  </div>

</footer>
